* {
    margin: 0;
    padding: 0;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.0rem;
        padding-left: 1.0rem;
    }
}

.home {
    display: inline;
    float: left;
    width: 60%;
}

.text {
    display: inline;
    float: right;
    width: 40%;
    height: 428.4px;
    padding: auto;
    position: relative;
    align-content: center;
}

.image1 {
    width: 100%;
}

.landing {
    display: flex;
    flex-direction: row;
    height: 500px;
}

@media (max-width: 992px) {
    .landing {
        height: 400px;
    }
}

@media (max-width: 992px) {
    .landing {
        flex-direction: column;
        height: fit-content;
    }
    .home {
        width: 100%;
    }
    .text {
        width: 90%;
        /* align-items: center; */
        margin: auto;
        margin-top: -70px;
        height: 428.31px;
    }
    .why {
        text-align: center;
        margin: 50px;
        margin-bottom: -10px;
    }
}

.search-button {
    display: inline;
    width: fit-content;
    background-color: rgb(85, 224, 85) !important;
    align-items: center;
    margin: 2rem;
    border-radius: 20px;
}

.heading-one {
    text-align: center;
    padding: 5px;
    margin: 5px;
}

.para-one {
    text-align: justify;
    padding: 5px;
    margin: 5px;
}

.new {
    width: 80%;
    height: fit-content;
    margin: 80px auto;
}

.second {
    margin-top: 30px;
}

.why {
    width: 80%;
    margin-left: 40px;
}

.image2 {
    float: left;
}

@media (max-width: 592px) {
    div.second-text {
        width: 90% !important;
        margin: auto;
        align-items: center;
        height: 411.200px;
        position: relative;
        top: -80px;
        padding-top: 0;
        padding-left: 0px;
    }
    .img2 {
        /* margin:auto; */
        padding: auto;
    }
}

@media (max-width: 992px) {
    div.second-text {
        width: 90% !important;
        margin: auto;
        align-items: center;
        height: 411.200px;
        position: relative;
        top: -50px;
        padding-top: 0px;
        padding-left: 0px;
    }
    div.image2 {
        width: 30rem !important;
        margin: auto;
    }
}

div.image2 {
    width: 60%;
    align-items: center;
}

.page2 {
    height: 580.83px;
}

img.img2 {
    display: inline;
    margin-left: auto;
    margin-right: auto;
}

.second-text {
    /* position: relative;
    left:80px;
    top:60px; */
    width: 50%;
    padding-top: 80px;
    padding-left: 50px;
    flex: 1
}

@media (max-width: 992px) {
    .second-text {
        width: 100%;
        position: relative;
        top: 0px;
        left: 0px;
    }
    img.img2 {
        margin: auto;
        width: 70% !important;
        /* width: auto;  */
        height: 100%;
        display: inline;
        /* margin:auto !important; */
        margin: 0 5rem !important;
    }
    .page2 {
        height: 1161.66px;
    }
}

.img2 {
    /* height:92vh !important; */
    /* width: 100% !important;  */
    width: 74% !important;
    height: width;
    /* border: 2px solid red;    */
    margin-left: 60px !important;
}

.image0 {
    flex: 1;
    display: inline;
    margin: auto !important;
    overflow: hidden;
}


/*==================== 
	Footer 
====================== */


/* Main Footer */

footer .main-footer {
    padding: 20px 0;
    background: #30db0e;
}

footer ul {
    padding-left: 0;
    list-style: none;
}


/* Copy Right Footer */

.footer-copyright {
    background: #30db0e;
    padding: 5px 0;
}

.footer-copyright .logo {
    display: inherit;
}

.footer-copyright nav {
    float: right;
    margin-top: 5px;
}

.footer-copyright nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-copyright nav ul li {
    border-left: 1px solid #ff8d1e;
    display: inline-block;
    line-height: 12px;
    margin: 0;
    padding: 0 8px;
}

.footer-copyright nav ul li a {
    color: #969696;
}

.footer-copyright nav ul li:first-child {
    border: medium none;
    padding-left: 0;
}

.footer-copyright p {
    color: #969696;
    margin: 2px 0 0;
}


/* Footer Top */

.footer-top {
    background: #ff8d1e;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 3px solid #ff8d1e;
}


/* Footer transparent */

footer.transparent .footer-top,
footer.transparent .main-footer {
    background: transparent;
}

footer.transparent .footer-copyright {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
}


/* Footer light */

footer.light .footer-top {
    background: #f9f9f9;
}

footer.light .main-footer {
    background: #f9f9f9;
}

footer.light .footer-copyright {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
}


/* Footer 4 */

.footer- .logo {
    display: inline-block;
}

.widget {
    padding: 20px;
    margin-bottom: 40px;
}

.widget.widget-last {
    margin-bottom: 0px;
}

.widget.no-box {
    padding: 0;
    background-color: transparent;
    margin-bottom: 40px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
}

.widget.subscribe p {
    margin-bottom: 18px;
}

.widget li a {
    color: #fff;
}

.widget li a:hover {
    color: #aaa;
    text-decoration: none;
}

.widget-title {
    margin-bottom: 20px;
}

.widget-title span {
    background: #839FAD none repeat scroll 0 0;
    display: block;
    height: 1px;
    margin-top: 25px;
    position: relative;
    width: 20%;
}

.widget-title span::after {
    background: inherit;
    content: "";
    height: inherit;
    position: absolute;
    top: -4px;
    width: 50%;
}

.widget-title.text-center span,
.widget-title.text-center span::after {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.widget .badge {
    float: right;
    background: #7f7f7f;
}

.typo-light h1,
.typo-light h2,
.typo-light h3,
.typo-light h4,
.typo-light h5,
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small {
    color: #fff;
}

ul.social-footer2 {
    margin: 0;
    padding: 0;
    width: auto;
}

ul.social-footer2 li {
    display: inline-block;
    padding: 0;
}

ul.social-footer2 li a:hover {
    background-color: #ff8d1e;
}

ul.social-footer2 li a {
    display: block;
    height: 30px;
    width: 30px;
    text-align: center;
}

.btn {
    background-color: #ff8d1e;
    color: #fff;
}

.btn:hover,
.btn:focus,
.btn.active {
    background: #4b92dc;
    color: #fff;
    -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 250ms ease-in-out 0s;
    -moz-transition: all 250ms ease-in-out 0s;
    -ms-transition: all 250ms ease-in-out 0s;
    -o-transition: all 250ms ease-in-out 0s;
    transition: all 250ms ease-in-out 0s;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    background-color: #3e3e3e;
    color: #fff;
    padding: 9px;
    border-radius: 5px;
}

#subscribe-box .emailfield {
    margin: auto;
}

input[type="text"] {
    background: rgba(255, 255, 255, 0.075);
    padding: 10px 15px;
    color: rgb(216, 10, 123);
    border: 3px solid rgba(0, 0, 0, 0.1);
    font-size: 14px;
    margin-bottom: 16px;
    border-radius: 5px;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    text-align: center;
    width: 100%;
}

input.submitbutton.ripplelink {
    background: #e67e22;
    border: 3px solid rgba(0, 0, 0, 0.1);
    color: rgb(161, 40, 40);
    border-color: #e67e22;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    transition-delay: 0s;
    width: 100%;
    font-size: 14px;
    /* font-weight: 700; */
    border: 0px solid;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    padding: 10px 15px;
    margin-bottom: 16px;
    border-radius: 5px;
}

.thumb-content ::before {
    content: "\f190";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-left: 5px;
    color: #ffffff;
}

.fa-facebook {
    padding: 9px 14px;
}