{% extends "base.html" %}

{% block element %}
<link rel="stylesheet" href="../static/login_style.css">
{% endblock %}

{% block title %}
Login
{% endblock %}


{% block content %}


<div id="main">
    <div id="inmain">
        <div id="div1">
            <h1 id="heading">Login</h1>
            <p id="para">Login to access your rides</p>
        </div>

        <form method="POST">
            <div id="div2">
                <input type="email" id="emailid" class="input" placeholder="email@example.com">
                <input type="password" id="password" class="input" placeholder="password">
                <input type="submit" id="submit" value="LOGIN" class="input">
            </div>
        </form>

        <div id="div3">
            <p>Don't have an account? <a href="/signup">Sign Up</a></p>
        </div>
    </div>



{% endblock %}